<ion-content fullscreen scrollEvents="false">
  <!-- Imagen destacada -->
  <div class="image-header">
    <img
      (click)="goBack()"
      class="backButton"
      src="../../../../../../assets/icon/backButtonWhite.svg"
      alt="nobutton"
    />
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
    <div 
    [style.background-color]="getBackgroundColor(recipe.section)"
    
    class="bottomBlack"></div>
  </div>

  <!-- Contenedor principal -->
  <div
    [style.background-color]="getBackgroundColor(recipe.section)"
    [style.color]="getTextColor(recipe.section)"
    class="recipe-detail-container"
  >

  <div class="maincontainer-category">
  <div class="category-container">
    <h3 class="category-label">{{ recipe.description }}</h3>
    <h2 class="recipe-title">{{ recipe.title }}</h2>
  </div>
  <div *ngIf="!recipe.featured" >
    <ion-icon style="color: #3e3e3e" (click)="setFavourite()" name="heart-outline"></ion-icon>
  </div>
  <div *ngIf="recipe.featured">
    <ion-icon style="color: #3e3e3e" (click)="setFavourite()" name="heart"></ion-icon>
  </div>

    </div>
  
  
  
  
  <!-- Detalles de calorías y tiempo -->
    <div class="meta-info">
      <div class="info-item">
        <ion-icon name="flame-outline"></ion-icon>
        <span>{{ recipe.kcal }} kcal</span>
      </div>
      <div class="info-item">
        <ion-icon name="time-outline"></ion-icon>
        <span>{{ recipe.time }} minutos</span>
      </div>
      <div class="info-item">
        <span class="points">
          <img
            *ngFor="let n of [].constructor(recipe.value || 0); let i = index"
            src="../../../../../../assets/imgs/nutrition/traffic-light-on.svg"
            style="width: 20px; height: 20px; margin-right: 2px"
            alt="on"
          />
          <img
            *ngFor="let n of [].constructor(4 - (recipe.value || 0)); let i = index"
            src="../../../../../../assets/imgs/nutrition/traffic-light-off.svg"
            style="width: 20px; height: 20px; margin-right: 2px"
            alt="off"
          />
        </span>
        <span>{{ getQualityText(recipe.value) }}</span>
      </div>
    </div>

    <!-- Información nutricional -->
<ion-button
  expand="block"
  fill="outline"
  [style.color]="getTextColor(recipe.section)"
  [style.--border-color]="getTextColor(recipe.section)"
  class="nutritional-button"
  (click)="openNutritionalInfo()"
>
  <ion-icon [style.color]="getQuialityColor(recipe.section)" name="information-circle-outline" slot="start" style="font-size: 24px; width: 24px; height: 24px;"></ion-icon>
  Información nutricional
  <ion-icon [style.color]="getTextColor(recipe.category)" name="chevron-forward-outline" slot="end"></ion-icon>
</ion-button>

    <!-- Tabs de ingredientes / instrucciones -->
    <ion-segment [(ngModel)]="selectedTab" value="ingredients">
      <ion-segment-button value="ingredients">
        Ingredientes
      </ion-segment-button>
      <ion-segment-button value="instructions">
        Instrucciones
      </ion-segment-button>
    </ion-segment>

    <!-- Contenido dinámico -->
    <div *ngIf="selectedTab === 'ingredients'" class="ingredient-list">
      
      <div class="portion-control-container">

        <div class="portion-control">
          <img *ngIf="recipe.section === 'Dinner'" src="../../../../../../assets/icons/plate.svg" alt="noIcon">
          <img *ngIf="recipe.section !== 'Dinner'" src="../../../../../../assets/icons/plate_black.svg" alt="noIcon">

          <span>Ración:</span>
          <ion-button size="small" fill="clear" (click)="decreasePortion()"
          >-</ion-button
          >
          <span>{{ portion }}</span>
          <ion-button size="small" fill="clear" (click)="increasePortion()"
          >+</ion-button
          >
        </div>
        
          <span>{{ recipe.recipeIngredients?.length }} ingredientes</span>

      </div>
      
      


<app-recipes-ingredients-card *ngIf="recipe.recipeIngredients?.length" [ingredients]="recipe.recipeIngredients" [portion]="portion"></app-recipes-ingredients-card>

    </div>

    <div *ngIf="selectedTab === 'instructions'" class="instructions-list">
           <div class="portion-control-container">

        <div class="portion-control">
          <img *ngIf="recipe.section === 'Dinner'" src="../../../../../../assets/icons/plate.svg" alt="noIcon">
          <img *ngIf="recipe.section !== 'Dinner'" src="../../../../../../assets/icons/plate_black.svg" alt="noIcon">
          <span>Ración:</span>
          <ion-button size="small" fill="clear" (click)="decreasePortion()"
          >-</ion-button
          >
          <span>{{ portion }}</span>
          <ion-button size="small" fill="clear" (click)="increasePortion()"
          >+</ion-button
          >
        </div>
        
          <span>{{ recipe.recipeSteps?.length }} pasos</span>

      </div>
      <app-recipes-steps-card *ngIf="recipe.recipeSteps?.length" [steps]="recipe.recipeSteps" (openModalStepRecipe)="openModalStepRecipe($event.steps, $event.stepNumber)"></app-recipes-steps-card>
    </div>

    <!-- Botón comenzar -->
<ion-button 
  *ngIf="!buttonType(recipe.section)" 
  class="ion-margin-bottom start-button" 
  mode="ios"
  (click)="startRecipe()">
  Comenzar
</ion-button> 
<ion-button 
  *ngIf="buttonType(recipe.section)" 
  class="ion-margin-bottom btn-dark" 
  mode="ios"
  (click)="startRecipe()">
  Comenzar
</ion-button> 
 </div>

</ion-content>
