<ion-header>
  <ion-toolbar class="ion-no-border ion-no-shadow">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear" aria-label="Volver">
        <ion-icon name="arrow-back-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">Biblioteca de recetas</ion-title>
    <ion-buttons slot="end">
      <!-- Empty slot to keep title centered -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-searchbar
    class="search-bar"
    placeholder="Buscar recetas"
    debounce="500"
    [value]="searchText()"
    (ionInput)="updateSearch($event)"
    (ionClear)="clearSearch()"
    mode="ios"
  ></ion-searchbar>

  <div class="time-filters ion-margin-bottom">
    <ion-row>
      <ion-col>
        <ion-button 
          class="time-chip" 
          [class.selected]="time === 10"
          (click)="toggleTimeFilter(10)">
          10 minutos
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          class="time-chip" 
          [class.selected]="time === 20"
          (click)="toggleTimeFilter(20)">
          20 minutos
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
          class="time-chip" 
          [class.selected]="time === 30"
          (click)="toggleTimeFilter(30)">
          30 minutos
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

  <div [hidden]="searchText() !== ''">
    <div class="recipe-list" [hidden]="loading() === true">
      <div class="recipe-library" button [routerLink]="['recipe-favorites']">
        <h2 class="library-text">Tus recetas favoritas</h2>

        <button class="button">
          <img src="../../../../assets/imgs/botton.svg" alt="" />
        </button>
      </div>

      <swiper-container
        slides-per-view="auto"
        pagination="false"
        auto-height="true"
        space-between="16"
        *ngIf="recipesFavorites.length > 0"
      >
        <ng-container *ngFor="let recipe of recipesFavorites">
          <swiper-slide style="width: 200px;">
            <ng-container>
              <app-recipe-slide [recipe]="recipe"></app-recipe-slide>
            </ng-container>
          </swiper-slide>
        </ng-container>
      </swiper-container>

      <p class="ion-padding" *ngIf="recipesFavorites.length === 0">
        No se ha encontrado ninguna receta.
      </p>

      <div class="recipe-library" button [routerLink]="['recipe-ingredients']">
        <h2 class="library-text">Desayuno</h2>

        <button class="button">
          <img src="../../../../assets/imgs/botton.svg" alt="" />
        </button>
      </div>

      <swiper-container
        slides-per-view="auto"
        pagination="false"
        auto-height="true"
        space-between="16"
        *ngIf="recipesBreakfast.length > 0"
      >
        <ng-container *ngFor="let recipe of recipesBreakfast">
          <swiper-slide style="width: 200px;">
            <ng-container>
              <app-recipe-slide [recipe]="recipe"></app-recipe-slide>
            </ng-container>
          </swiper-slide>
        </ng-container>
      </swiper-container>

      <p class="ion-padding" *ngIf="recipesBreakfast.length === 0">
        No se ha encontrado ninguna receta.
      </p>

      <div class="recipe-library" button [routerLink]="['recipe-categories']">
        <h2 class="library-text">Comida</h2>

        <button class="button">
          <img src="../../../../assets/imgs/botton.svg" alt="" />
        </button>
      </div>

      <swiper-container
        slides-per-view="auto"
        pagination="false"
        auto-height="true"
        space-between="16"
        *ngIf="recipesLunch.length > 0"
      >
        <ng-container *ngFor="let recipe of recipesLunch">
          <swiper-slide style="width: 200px;">
            <ng-container>
              <app-recipe-slide [recipe]="recipe"></app-recipe-slide>
            </ng-container>
          </swiper-slide>
        </ng-container>
      </swiper-container>

      <p class="ion-padding" *ngIf="recipesLunch.length === 0">
        No se ha encontrado ninguna receta.
      </p>

      <div class="recipe-library" button [routerLink]="['recipe-categories']">
        <h2 class="library-text">Cena</h2>

        <button class="button">
          <img src="../../../../assets/imgs/botton.svg" alt="" />
        </button>
      </div>

      <swiper-container
        slides-per-view="auto"
        pagination="false"
        auto-height="true"
        space-between="16"
        *ngIf="recipesDinner.length > 0"
      >
        <ng-container *ngFor="let recipe of recipesDinner">
          <swiper-slide style="width: 200px;">
            <ng-container>
              <app-recipe-slide [recipe]="recipe"></app-recipe-slide>
            </ng-container>
          </swiper-slide>
        </ng-container>
      </swiper-container>
      <p class="ion-padding" *ngIf="recipesDinner.length === 0">
        No se ha encontrado ninguna receta.
      </p>

      <div class="recipe-library" button [routerLink]="['recipe-categories']">
        <h2 class="library-text">Snack</h2>

        <button class="button">
          <img src="../../../../assets/imgs/botton.svg" alt="" />
        </button>
      </div>

      <swiper-container
        slides-per-view="auto"
        pagination="false"
        auto-height="true"
        space-between="16"
        *ngIf="recipesSnacks.length > 0"
      >
        <ng-container *ngFor="let recipe of recipesSnacks">
          <swiper-slide style="width: 200px;">
            <ng-container>
              <app-recipe-slide [recipe]="recipe"></app-recipe-slide>
            </ng-container>
          </swiper-slide>
        </ng-container>
      </swiper-container>

      <p class="ion-padding" *ngIf="recipesSnacks.length === 0">
        No se ha encontrado ninguna receta.
      </p>
    </div>
    <div class="ion-padding" [hidden]="loading() === false">
      <h3>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80%"
        ></ion-skeleton-text>
      </h3>
      <p>
        <ion-skeleton-text
          [animated]="true"
          style="width: 60%"
        ></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text
          [animated]="true"
          style="width: 30%"
        ></ion-skeleton-text>
      </p>
    </div>
  </div>

  <app-recipe-search
    [hidden]="searchText() === ''"
    [recipes]="searchedRecipes"
  ></app-recipe-search>
</ion-content>
