.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

h1{
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

p {
    align-self: stretch;

    color: var(--onepercent-gray-950, #131313);

    /* Inter_M_Sb */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}