<app-header backButtonBackwards=true title="Términos y Condiciones"/>
<ion-content class="safe-area ion-padding">  
  <div class="container">
  <div>

<ion-text>
<h1>Términos y condiciones de uso</h1>
<h2>Última actualización: 19 de enero del 2025</h2>

<p>
  Bienvenido a onepercent, una plataforma móvil que fomenta un estilo de vida saludable mediante la asignación de objetivos diarios de alimentación, actividad física y bienestar general. Los usuarios pueden obtener puntos al cumplir con sus objetivos de salud, los cuales reflejan su progreso, siempre visible a través del menú principal.
</p>

<h3>1. Introducción</h3>
<p>
  Estas condiciones de uso regulan el acceso y uso (en adelante las Condiciones) a la aplicación móvil onepercent (en adelante también la App o Aplicación).<br>
  La App pertenece a THE ONEPERCENT APP S.L, con domicilio social en Barcelona, Paseo de Gracia 63, 2º 2ª C.P. 08008 y provista de C.I.F B13957717 e inscrita en el Registro Mercantil de Barcelona (en adelante el Proveedor).<br>
  Por favor, lea atentamente estas Condiciones antes de utilizar la Aplicación.
</p>

<h3>2. Aceptación y uso de la aplicación</h3>
<p>
  Al utilizar la Aplicación, aceptas quedar vinculado por estas Condiciones y confirmas haberlas leído. El Proveedor se reserva el derecho de modificar o ampliar estas Condiciones en cualquier momento. Al seguir utilizando la aplicación, te comprometes a revisar y aceptar la versión más actualizada de las Condiciones, las cuales serán vinculantes cada vez que accedas a la App.<br>
  Para utilizar la Aplicación y, en su caso, adquirir una suscripción, debes tener al menos 18 años.<br>
  Las presentes Condiciones se aplicarán con carácter adicional a cualesquiera condiciones aplicables impuestas o exigidas por Apple, Google o cualquier otro proveedor desde cuya plataforma se descargue la aplicación, y las presentes Condiciones complementan y no alteran ni modifican dichas otras condiciones.
</p>

<h3>3. Registro</h3>
<p>
  Al descargar la Aplicación por primera vez, los usuarios deberán completar un breve cuestionario para evaluar sus hábitos actuales. Las respuestas se usarán para personalizar la experiencia y serán tratadas conforme a nuestra Política de Privacidad.<br>
  El usuario podrá registrarse en la Aplicación utilizando su correo electrónico y una contraseña, o mediante el inicio de sesión a través de terceros (Google, Meta o AppleID). Al registrarse utilizando estos servicios de terceros, el usuario autoriza al Proveedor de la aplicación a acceder a la información pública disponible a través de dichos servicios.<br>
  El usuario confirma que la información sobre su persona es verdadera, exacta, actual y completa. Es necesario actualizar periódicamente la información personal de registro.<br>
  El usuario está obligado a proteger su cuenta de accesos no autorizados y de usos indebidos. Las actividades sospechosas y las posibles infracciones deben notificarse inmediatamente al Proveedor. El Proveedor no será responsable por pérdidas o daños derivados del uso no autorizado de los datos de identificación del usuario. En caso de que el usuario detecte una violación de la confidencialidad de su nombre de usuario o contraseña, deberá restablecer inmediatamente su contraseña.<br>
  Si el Proveedor detecta una conducta abusiva por parte de un usuario, tendrá derecho a cerrar la cuenta correspondiente.
</p>

<h3>4. Licencia de uso</h3>
<p>
  Concedemos al usuario una licencia personal, no exclusiva, intransferible, no sublicenciable y revocable en cualquier momento a nuestra entera discreción, para acceder y utilizar la Aplicación y los servicios ofrecidos por el Proveedor.<br>
  Esta licencia es solo para uso personal y no otorga ningún derecho de propiedad intelectual sobre la Aplicación o los servicios.<br>
  El usuario no puede distribuir, ceder, modificar, traducir, reproducir, revender, sublicenciar, alquilar, realizar ingeniería inversa, descompilar, extraer o intentar descubrir el código fuente del software de la Aplicación. Salvo lo expresamente permitido en estas Condiciones, no se concede ningún otro derecho sobre la Aplicación ni los servicios. Tampoco se te otorga ningún permiso para combinar nuestra Aplicación con cualquier otro software o hardware que no haya sido proporcionado por el Proveedor.
</p>

<h3>5. Uso de los servicios</h3>
<p>
  Los servicios de la Aplicación pueden utilizarse de forma gratuita o mediante el pago de una suscripción. La App puede instalarse desde cualquier plataforma de distribución y utilizarse en todo dispositivo móvil compatible.<br>
  El usuario podrá seleccionar entre dos planes:
</p>
<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Plan básico</th>
      <th>Plan Pro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Precio Gratuito</td>
      <td>
        Mensual - Precio: 8,99 € / mes<br>
        Semestral - Precio: 6,99 € / mes (cada 6 meses, prueba gratuita de 14 días)<br>
        Anual - Precio: 4,99 € / mes (anual, prueba gratuita de 14 días)
      </td>
    </tr>
    <tr>
      <td>Registro de actividad física y comidas que permite el seguimiento de hábitos</td>
      <td>Sí</td>
    </tr>
    <tr>
      <td>Balance saludable y objetivos</td>
      <td>Personalizado con cuestionario de inicio.<br>Personalizado de planes y menús semanales.</td>
    </tr>
    <tr>
      <td>Píldoras y recetas</td>
      <td>Limitadas</td>
      <td>Ilimitado</td>
    </tr>
    <tr>
      <td>Registro de comidas con cámara IA</td>
      <td>Limitado a 5 veces / semana</td>
      <td>Ilimitado</td>
    </tr>
    <tr>
      <td>Escanea e improvisa IA</td>
      <td>Limitado a 5 veces / semana</td>
      <td>Ilimitado</td>
    </tr>
    <tr>
      <td>IA Conversacional</td>
      <td>No</td>
      <td>Ilimitado</td>
    </tr>
    <tr>
      <td>Anuncios</td>
      <td>Sí</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
<p>
  El Proveedor se reserva el derecho de modificar el alcance y las cuotas de uso de las opciones de los planes básico y pro. Las modificaciones de precios solo serán efectivas cuando sean válidas una vez finalizado el periodo de suscripción o cuando se deba pagar la renovación de la suscripción. En caso de que se produzcan aumentos de precio, el Proveedor notificará al usuario la nueva cuota de uso con al menos 30 días de antelación. Si la notificación del aumento de precio se realiza con menos de 30 días de antelación, el cambio solo entrará en vigor después de la siguiente fecha de pago.
</p>

<h3>6. Duración de los servicios y forma de pago</h3>
<p>
  El plan básico podrá ser utilizado de manera indefinida por el usuario, salvo que ocurra alguna de las situaciones previstas en la Cláusula 7, que podrían limitar o finalizar el acceso al mismo.<br>
  El Plan Pro ofrece suscripciones con diferentes períodos fijos, cada una con una cuota de uso que debe pagarse por adelantado. En la cuenta del usuario, se podrán visualizar las distintas opciones de suscripción y las instrucciones para adquirirlas.<br>
  El pago se procesará a través de las pasarelas de pago de Apple y Google Store mediante tarjeta de crédito/débito Visa, MasterCard y American Express y el procedimiento específico estará sujeto a los términos y condiciones del proveedor de dicha plataforma.<br>
  La Aplicación ofrece a sus usuarios la posibilidad de acceder temporalmente a una suscripción gratuita del Plan Pro durante un período determinado. La suscripción de prueba comienza en el momento en que se completa el proceso de compra. Al contratar la suscripción de prueba, se informará al usuario sobre la duración del período de prueba.<br>
  Durante este período, no se realizará ningún cargo inicial, aunque el Proveedor podrá solicitar al usuario que proporcione sus datos de pago al inicio de la suscripción de prueba. Si el usuario no cancela la suscripción de prueba antes de que finalice el período determinado, esta se convertirá automáticamente en una suscripción de pago de duración limitada.<br>
  Al final del último día del período de prueba, se cobrará automáticamente la tarifa de suscripción correspondiente al usuario, y las funciones del Plan Pro se activarán de forma automática tras completarse la compra. El Proveedor se reserva el derecho de modificar el alcance de los servicios de la suscripción de prueba o de finalizar la oferta de suscripción de prueba en cualquier momento.<br>
  La suscripción temporal durará al menos el plazo seleccionado originalmente por el usuario más cualquier periodo de suscripción de prueba especificado.
</p>

<h3>7. Cancelación</h3>
<p>
  El plan pro puede ser cancelado tanto por el Proveedor como por el usuario en cualquier momento con un preaviso de 14 días. Para ello, deben enviar un correo electrónico a <a href="mailto:info&#64;theonepercentapp.com">info&#64;theonepercentapp.com</a> o utilizaremos el correo electrónico facilitado en el registro. Además, el usuario tiene la opción de eliminar su cuenta directamente desde la configuración de la aplicación.<br>
  El usuario puede cancelar la suscripción en cualquier momento al final del período seleccionado. Si no se lleva a cabo la cancelación, la suscripción se renovará automáticamente por el mismo período inicial.<br>
  El usuario podrá cancelar la suscripción sin penalización por motivos justificados, que incluirán, pero no se limitarán a, los siguientes:
</p>
<ul>
  <li>Incapacidad temporal o permanente que impida al usuario utilizar los servicios ofrecidos por la suscripción.</li>
  <li>Cambios significativos en las condiciones del servicio, que no sean aceptables para el usuario.</li>
  <li>Incumplimiento por parte del proveedor de los términos y condiciones acordados.</li>
</ul>
<p>
  La cancelación debe realizarse a través de la dirección de correo electrónico <a href="mailto:info&#64;theonepercentapp.com">info&#64;theonepercentapp.com</a>, indicando el motivo de la cancelación y aportando la documentación necesaria que justifique su solicitud.<br>
  En caso de que se acepte la solicitud de cancelación por motivos justificados, el Proveedor reembolsará al usuario cualquier pago realizado por adelantado por el período no utilizado de la suscripción.<br>
  El Proveedor se reserva el derecho a cancelar la suscripción de pago de un usuario en cualquier momento, bajo las siguientes circunstancias:
</p>
<ul>
  <li>Incumplimiento por parte del usuario de los términos y condiciones establecidos en el contrato de suscripción.</li>
  <li>Uso indebido de la aplicación, incluyendo, pero no limitado a, actividades fraudulentas o ilegales.</li>
  <li>Cierre o suspensión de los servicios ofrecidos por la aplicación, ya sea temporal o permanente, por razones operativas o legales.</li>
</ul>
<p>
  En caso de que el Proveedor decida cancelar la suscripción, el usuario será notificado a través de la dirección de correo electrónico proporcionada en su cuenta o notificación push al dispositivo móvil a través de la App indicando el motivo de cancelación, ello no dará lugar a reembolso alguno.<br>
  Si la cancelación se produce por motivos no atribuibles al usuario, el Proveedor se compromete a reembolsar cualquier pago realizado por adelantado por el período no utilizado de la suscripción, en un plazo de 30 días a partir de la fecha de cancelación.<br>
  En cualquier caso, el Proveedor podrá eliminar cualquier cuenta que se considere Cuenta Inactiva. Una Cuenta Inactiva es aquella que no ha registrado inicio de sesión durante un período de tres (3) años. Antes de proceder a la eliminación, el Proveedor enviará una notificación al usuario a través de correo electrónico. Si no se recibe respuesta ni se reactiva la cuenta, esta será eliminada automáticamente sin posibilidad de recuperación.
</p>

<h3>8. Responsabilidades del Usuario</h3>
<p>
  El usuario se compromete a utilizar la Aplicación exclusivamente de conformidad con todas las leyes, normas y reglamentos aplicables. La descarga de la aplicación se realizará únicamente desde plataformas de distribución autorizadas, y el usuario no deberá obtenerla de ninguna otra fuente. Además, la Aplicación deberá ser utilizada únicamente en dispositivos legítimos y autorizados.<br>
  Por razones de seguridad, el Proveedor se reserva el derecho a dar por terminado el acceso a la Aplicación si esta ha sido obtenida de una fuente no autorizada o si se utiliza en un dispositivo no autorizado o ilegítimo.<br>
  Asimismo, se prohíbe al usuario integrar, combinar o asociar cualquier información de la base de datos de la Aplicación con contenido que: (a) atente contra el honor o la credibilidad de terceros; (b) contenga expresiones obscenas o imágenes de desnudos; (c) viole los derechos de terceros; (d) contenga virus informáticos; (e) sea contrario al orden público y a las buenas costumbres; o (f) infrinja cualquier ley o normativa aplicable. Adicionalmente, queda prohibida cualquier actividad de venta o concesión de sublicencias en relación con la información de la base de datos.
</p>

<h3>9. Contenido del usuario</h3>
<p>
  La Aplicación puede permitir al usuario cargar, transmitir o publicar contenido, incluyendo, sin limitación, imágenes, fotografías, texto y otros materiales (en adelante, "Contenido del Usuario"). El usuario garantiza y declara que el Contenido del Usuario que cargue, transmita o publique no estará sujeto a derechos de terceros, será completo y exacto, y no será engañoso, falso, equívoco o fraudulento.<br>
  El usuario otorga al Proveedor el derecho de utilizar, copiar, distribuir, transmitir, editar y modificar el Contenido del Usuario en cualquier formato, forma o medio de comunicación, tanto actuales como futuros, sin que se deba abonar pago alguno. Esta licencia tiene como finalidad el funcionamiento de la aplicación y de los servicios que esta ofrece.<br>
  Adicionalmente, la Aplicación podrá permitir al usuario cargar imágenes de productos, incluyendo, sin limitación, etiquetas de productos, información nutricional, lista de ingredientes e imágenes de la parte delantera y trasera del envase (en adelante, "Imágenes de Productos"). El Proveedor de la aplicación tendrá libertad para utilizar dichas Imágenes de Productos con el propósito de prestar el servicio.
</p>

<h3>10. Propiedad Intelectual</h3>
<p>
  El Proveedor es el titular de todos los derechos de propiedad intelectual sobre la Aplicación y todo el código relacionado con la misma (en adelante, "Propiedad Intelectual").<br>
  El usuario se compromete a no realizar, en modo alguno, un uso no autorizado de la Propiedad Intelectual. Cualquier infracción a estos derechos será considerada como una violación de las Condiciones de uso de la aplicación y podrá dar lugar a acciones legales por parte del Proveedor.
</p>

<h3>11. Modificaciones</h3>
<p>
  Nos reservamos el derecho de cambiar estas Condiciones en cualquier momento. Notificaremos los cambios a través de la Aplicación. Si sigues utilizando la Aplicación después de haber sido informado, aceptas automáticamente las modificaciones realizadas.<br>
  Si alguna de las cláusulas o términos de estas Condiciones resulta ser inválida, inaplicable o ilegal por cualquier motivo, esa cláusula se considerará eliminada, pero el resto de las Condiciones seguirá siendo válido y aplicable en su totalidad.
</p>

<h3>12. Garantías del servicio y disponibilidad</h3>
<p>
  Aunque hacemos todo lo posible para garantizar la fiabilidad y disponibilidad de acceso al servicio las 24 horas del día, no seremos responsable por los siguientes aspectos:
</p>
<ul>
  <li>Cualquier fallo en el funcionamiento de la aplicación que se deban a causas externas fuera de nuestro control, tales como interrupciones en el suministro eléctrico, caídas de redes de telecomunicaciones, fallos en servicios de terceros, u otros problemas técnicos que afecten la infraestructura utilizada para acceder a la App.</li>
  <li>Cualquier cambio o modificación que hagamos en la aplicación. En el caso de cierre programado en el contexto de mantenimiento y/o cambios en los servicios, haremos todo lo posible por notificarlo con antelación.</li>
  <li>Reclamaciones, pérdidas o daños causados por errores u omisiones en los datos o información que proporcionen los usuarios.</li>
  <li>Consecuencias negativas que puedan surgir para ti o para terceros a partir del uso, análisis, interpretación o tratamiento de información orientativa generada por la aplicación, ya sea por ti o por otros.</li>
</ul>

<h3>13. Aviso legal médico</h3>
<p>
  La Aplicación ofrece información general y herramientas relacionadas con la alimentación, actividad física y bienestar, diseñadas para ayudarte a mejorar los hábitos y salud. Sin embargo, esta información no constituye asesoramiento médico. No proporcionamos diagnósticos ni tratamientos médicos en ningún caso.<br>
  Nuestros servicios no están pensados para reemplazar la relación con tu profesional de la salud, ni para tratar condiciones médicas graves o urgentes. Por lo tanto, no debes usarlos en situaciones de emergencia o de salud crítica.<br>
  Si tienes alguna condición médica o dudas sobre tu salud, es importante que consultes con un profesional de la salud antes de comenzar cualquier plan de ejercicio o dieta sugerido por la Aplicación. El uso de la Aplicación es bajo tu responsabilidad y el Proveedor no asume responsabilidad por lesiones, problemas de salud o daños que puedan surgir del uso de las funciones de la Aplicación.
</p>

<h3>14. Protección de datos</h3>
<p>
  Por favor lee atentamente nuestra política de privacidad.
</p>

<h3>15. Ley aplicable y resolución de conflictos</h3>
<p>
  Estas Condiciones de Uso, así como cualquier reclamo, disputa o conflicto relacionado con ellas o con la relación entre las partes, se regirán por las leyes de España y serán resueltas por los tribunales competentes de acuerdo con la normativa vigente.<br>
  Además, si eres un consumidor residente en la Unión Europea, tienes la opción de resolver cualquier disputa de manera extrajudicial a través de la plataforma de resolución de litigios en línea de la Comisión Europea. Puedes acceder a esta plataforma en el siguiente enlace: <a href="https://ec.europa.eu/consumers/odr" target="_blank">ec.europa.eu/consumers/odr</a>.
</p>

  </ion-text>  </div>
  </div>
  </ion-content>