<ion-content class="welcome-page">
  <!-- Imagen de fondo -->
  <div class="background-image"></div>
  
  <!-- Overlay oscuro para mejor legibilidad -->
  <div class="dark-overlay"></div>
  
  <!-- Contenido principal -->
  <div class="welcome-container">
    <!-- Texto motivacional -->
    <div class="welcome-text">
      <h1 class="font-lausanne-xxl-550">
        <span class="text-white">{{ 'WELCOME_PAGE.TITLE1' | translate }}</span>
        <span class="text-white">{{ 'WELCOME_PAGE.TITLE2' | translate }}</span>
        <span class="text-green">{{ 'WELCOME_PAGE.SPAN1' | translate }}</span>
        <span class="text-green">{{ 'WELCOME_PAGE.SPAN2' | translate }}</span>
        <!-- Logo de la aplicación -->
        <img src="assets/icon/onepercent-logo.svg" alt="One Percent App Logo">
      </h1>
    </div>

    <!-- Botones centrados en la parte inferior -->
    <div class="welcome-buttons">
      <ion-button 
        expand="block" 
        class="btn-primary btn-start" 
        (click)="goToEnterName()"
        shape="round">
        {{ 'WELCOME_PAGE.BUTTON_START' | translate }}
      </ion-button>
      
      <p class="login-link">
        {{ 'WELCOME_PAGE.ARE_YOU_USER?' | translate }} 
        <a (click)="goToLogin()">{{ 'WELCOME_PAGE.BUTTON_LOGIN' | translate }}</a>
      </p>
    </div>
  </div>
</ion-content>