<swiper-container
  slides-per-view="auto"
  pagination="false"
  auto-height="true"
  space-between="16"
  class="meal-swiper"
>
  <!-- Desayuno Card -->
  <swiper-slide style="width: 206.81385803222656px;">
    <div class="meal-card breakfast" (click)="goToRecipeLibraryWithFilters('Desayuno')">
      <h2>Desayuno</h2>
      <img src="../../../../../assets/imgs/nutrition/mornings.svg" alt="Desayuno">
    </div>
  </swiper-slide>

  <!-- Comida Card -->
  <swiper-slide style="width: 206.81385803222656px;">
    <div class="meal-card lunch" (click)="goToRecipeLibraryWithFilters('Comida')">
      <h2>Comida</h2>
      <img src="../../../../../assets/imgs/nutrition/middays.png" alt="Comida">
    </div>
  </swiper-slide>

  <!-- Cena Card -->
  <swiper-slide style="width: 206.81385803222656px;">
    <div class="meal-card dinner" (click)="goToRecipeLibraryWithFilters('Cena')">
      <h2>Cena</h2>
      <img src="../../../../../assets/imgs/nutrition/Cena.png" alt="Cena">
    </div>
  </swiper-slide>

  <!-- Snack Card -->
  <swiper-slide style="width: 206.81385803222656px;">
    <div class="meal-card snack" (click)="goToRecipeLibraryWithFilters('Snack')">
      <h2>Snack</h2>
      <img src="../../../../../assets/imgs/nutrition/Merienda.png" alt="Snack">
    </div>
  </swiper-slide>
</swiper-container>