<div class="component">

  <div class="container1">
    <h2>{{ 'DAILY_SLIDER.MORNING_TITLE' | translate }}<br>
      {{ 'DAILY_SLIDER.MORNING_TITLE1' | translate }}</h2>

    <img src="../../../../../assets/imgs/nutrition/mornings.svg" alt="">

    <div class="time">
      <p class="time-text">15'</p>
      <img class="time-icon" src="../../../../../assets/imgs/nutrition/clock.svg" alt="">
    </div>
  </div>

  <div class="container2">
    <h2>{{ 'DAILY_SLIDER.MIDDAYS_TITLE' | translate }}<br>
      {{ 'DAILY_SLIDER.MIDDAYS_TITLE1' | translate }}</h2>

    <img src="../../../../../assets/imgs/nutrition/middays.png" alt="">

    <div class="time">
      <p class="time-text">15'</p>
      <img class="time-icon" src="../../../../../assets/imgs/nutrition/clock.svg" alt="">
    </div>

</div>