<div class="inner-content">
  <div class="modal-header">
    <h2 class="title">{{ title }}</h2>
  </div>

  <div class="modal-body">
    <app-meal-selector (selectionChange)="onSelectionChange($event)"></app-meal-selector>
  </div>

  <div class="modal-footer">
    <div class="buttons">
      <ion-button
        expand="block"
        class="btn-dark"
        [disabled]="selected === null"
        (click)="confirm()"
      >
        {{ 'SELECT_MEAL_MODAL.SAVE_BUTTON' | translate }}
      </ion-button>
    </div>
  </div>
</div>