.container {
  background-color: #ededed;
  border-radius: 0.625rem; // 10px
  margin: 0 1rem;         // 0 16px
  padding: 0.5rem;        // 8px
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;            // 8px
}

.icon {
  padding: 0.5rem;        // 8px
}

.info-container {
  display: flex;
  flex-direction: column;

  .title {
    color: #131313;
    font-family: Inter;
    font-size: 0.75rem;       // 12px
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 0.625rem;     // 10px
    margin-bottom: 0.125rem;  // 2px
  }

  .objective {
    color: #131313;
    /* Laussane_XS_550 */
    font-size: 0.75rem;       // 12px
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0.125rem;  // 2px
  }

  .points {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;             // 4px
    margin-bottom: 0.125rem;  // 2px
  }

  .score {
    color: var(--onepercent-gray-950, #131313);
    /* Inter_XS_Reg */
    font-family: Inter;
    font-size: 0.625rem;      // 10px
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0.125rem;     // 2px
    margin-bottom: 0.75rem;   // 12px
  }
}