<app-header backButtonBackwards="true" title="Política de Privacidad"/>
<ion-content class="safe-area ion-padding">  
  <div class="container">
  <div>
  


<ion-text>
    <h2>Última actualización: : 19 de enero del 2025</h2>

    <p>En The Onepercent nuestro objetivo es ayudarte a lo largo de tu progreso
hacia tus metas de estado físico y bienestar. Por eso, en esta política de
privacidad se informa sobre qué tipos de datos personales son tratados, cómo
los tratamos, qué fines y qué medidas aplicamos.</p>

    <h3>1. Responsable del tratamiento</h3>
    <p>La entidad responsable del portal y del tratamiento es THE ONEPERCENT APP
S.L. (en adelante “The Onepercent”), con domicilio social en Barcelona, Paseo
de Gracia 63, 2º 2ª C.P. 08008 y provista de C.I.F B13957717 e inscrita en el
Registro Mercantil de Barcelona.
Podrá contactar con nosotros a través del correo electrónico
info&#64;theonepercentapp.com.</p>

    <h3>2. Datos que Recopilamos</h3>

    
    <p>Recopilamos los siguientes tipos de datos:
Datos identificativos: Nombre, apellidos, sexo, peso, altura, fecha de
nacimiento, lugar de residencia, correo electrónico, datos de inicio de sesión
mediante Google, Meta o AppleID.
Datos de salud: Información sobre tu actividad física, registro de comidas,
hidratación diaria, calidad de las comidas, frutas y hortalizas ingeridas, datos
de IA sobre alimentos e ingredientes, y tus preferencias alimentarias.
Datos técnicos: Información sobre el dispositivo, dirección IP, y estadísticas de
uso de la aplicación.</p>

    <h3>3. Finalidad del Tratamiento de Datos</h3>
   <h3>Así utilizamos tus datos:</h3>

<ol>
  <li>
    <strong>Cuando te registras para crear una cuenta o interaccionas con nuestros servicios</strong>
    <p>
      Recopilamos tus datos personales cuando utilizas nuestros servicios o interactúas con ellos. Esto incluye situaciones como el registro para crear una cuenta, la compra de una suscripción Pro (incluido el proceso de pago) o el uso de los servicios de otras formas, como consultar el contenido disponible.<br>
      También recopilamos información cuando nos solicitas que te brindemos una experiencia personalizada. Estos datos personales pueden incluir el nombre, el nombre de usuario y la contraseña, el correo electrónico, la fecha de nacimiento, el género, la información de pago y los datos de ubicación generales.
    </p>
  </li>
  <li>
    <strong>Para personalizar tus recomendaciones de alimentación, ejercicio y hábitos saludables</strong>
    <p>
      Cuando introduces datos de bienestar y estado físico en nuestra Aplicación, o utilizas funciones que recopilan u obtienen dichos datos a través de los sensores de tus dispositivos móviles, estamos recopilando información específica sobre tu salud y estado físico.<br>
      Los datos de bienestar y estado físico incluyen, entre otros:
    </p>
    <ul>
      <li>Hábitos alimentarios y restricciones dietéticas</li>
      <li>Cantidad y frecuencia de actividad física</li>
      <li>Objetivos de estado físico</li>
      <li>Estilo de vida</li>
      <li>Acontecimientos vitales</li>
      <li>Altura y peso</li>
      <li>Nivel de estado físico</li>
      <li>Datos biométricos e información similar relacionada con tu actividad y estado fisiológico</li>
    </ul>
    <p>
      Recopilamos estos datos para ofrecerte nuestros servicios de manera efectiva y para personalizar las características y los servicios de acuerdo con tus intereses y objetivos. Esto incluye servicios relacionados con recomendaciones alimentarias, informes y análisis de datos, planes de entrenamiento, planificación de comidas y recomendaciones de productos.<br>
      Todos estos datos también los utilizamos para proporcionar un informe semanal de tu progreso y estadísticas.
    </p>
  </li>
  <li>
    <strong>Cuando recopilamos datos de terceros o de fuentes disponibles públicamente</strong>
    <p>
      Podemos obtener determinados datos sobre el usuario de otras fuentes que utilizaremos para prestar y mejorar los servicios y para fines de comercialización y publicidad. También es posible que combinemos tus datos personales con los datos que obtenemos a través de nuestros servicios, de otros usuarios o de terceros con el objetivo de mejorar la experiencia y los servicios.
    </p>
  </li>
  <li>
    <strong>Mejorar tu experiencia con sugerencias de IA en base a tus preferencias y estadísticas de negocio</strong>
    <p>
      Estos datos también nos ayudan a mejorar nuestro negocio mediante las estadísticas que elaboramos.<br>
      <strong>No utilizamos tus datos de salud para fines publicitarios sin tu consentimiento explícito.</strong>
    </p>
  </li>
</ol>


    <h3>4. Base legal para el tratamiento de datos</h3>
<p>
  El tratamiento de tus Datos Personales se realiza sobre la base del consentimiento del usuario en el sentido del artículo 6, apartado 1, letra a) del RGPD.<br>
  Podrás expresar este consentimiento cuando (i) nos proporciones tus Datos Personales al registrarte o crear una cuenta en nuestra aplicación o (ii) realices cualquier otra acción que implique la aceptación expresa de nuestros términos y condiciones.<br>
  Podrás retirar tu consentimiento en cualquier momento, sin que esto afecte la legalidad del tratamiento realizado antes de su retirada.
</p>
    <h3>5. Intercambio de datos con terceros</h3>

    <p>Podemos compartir tus datos con proveedores de servicios tecnológicos que
nos asisten en el funcionamiento de la Aplicación. Estos proveedores están
obligados a cumplir con las normativas de protección de datos vigentes.
Sólo recogemos y almacenamos los datos proporcionados por terceros
proveedores sobre la base del respectivo consentimiento del usuario de
conformidad.
No transmitimos datos fuera de la UE.</p>

    <h3>6. Almacenamiento y Seguridad de Datos</h3>
    <p>Tus datos se almacenarán de manera segura dentro del Espacio Económico
Europeo (EEE) y serán gestionados conforme a los estándares legales y de
seguridad vigentes. Conservamos tus datos mientras sigas utilizando
activamente la aplicación, o durante el tiempo que sea requerido por la
legislación aplicable. En cualquier momento, podrás solicitar la eliminación de
tus datos, y atenderemos dicha solicitud conforme a la normativa de
protección de datos.
Para proteger la integridad y confidencialidad de tu información, todas las
comunicaciones entre la aplicación y nuestros servidores, así como con
terceros proveedores, se transmiten utilizando cifrado robusto. Este proceso de
cifrado asegura que ningún tercero no autorizado pueda acceder o leer los
datos mientras son transferidos.
Tomamos medidas técnicas y organizativas apropiadas para garantizar la
seguridad de tus datos y evitar cualquier acceso no autorizado, pérdida,
alteración o divulgación indebida.</p>

    <h3>7. Tus Derechos</h3>
    <ul>
      <li>Acceso</li>
      <li>Rectificación</li>
      <li>Supresión</li>
      <li>Oposición</li>
      <li>Portabilidad</li>
    </ul>
    <p>Contacta con <a href="mailto:info&#64;theonepercentapp.com">info&#64;theonepercentapp.com</a> para ejercer tus derechos.</p>

    <p>Los derechos que tiene con relación a sus datos personales son:
- Derecho de Acceso: Derecho a solicitar y obtener gratuitamente información
sobre la naturaleza, el origen, la procedencia o la finalidad de los tratamientos
que afectan a sus datos.
- Derecho de Rectificación: Derecho a modificar aquellos datos que sean
inexactos o incompletos.
- Derecho de Supresión: Derecho a solicitar la cancelación, eliminación o baja
de sus datos personales en cualquier momento.
- Derecho a la Oposición: Derecho a decidir que no se lleve a cabo algún
tratamiento específico de sus datos.
- Derecho a la Portabilidad de los datos: Derecho a solicitar la transmisión de sus
datos a otras Empresas, Instituciones, Organizaciones o a Ud. mismo.
Podrá ejercitar sus derechos dirigiendo una comunicación electrónica
info&#64;theonepercentapp.com, indicando en el asunto “Derechos de
Protección de Datos”.
Además, puede revocar su consentimiento siempre que quiera, para lo cual
tiene la misma vía, una comunicación por escrito en tal sentido a
info&#64;theonepercentapp.com.
En caso de que tenga cualquier duda, queja, sugerencia o cualquier otra
cuestión sobre el tratamiento de datos en The Onepercent, puede hacerlo
mediante correo electrónico a info&#64;theonepercentapp.com.
Y en todo caso, tiene derecho a presentar una reclamación cuando lo
considere oportuno ante la Autoridad de Protección de Datos, Agencia
Española de Protección de Datos.</p>
  </ion-text>

  </div>
  </div>
  </ion-content>