<app-header [backButton]="backButtonRoute" />
<ion-content class="safe-area ion-padding forgot-password-page">
  <div class="h-full flex-col justify-between">
    <div>
      <h1 class="title font-lausanne-xl">{{ 'RECOVER_PASSWORD.TITLE' | translate }}</h1>
      <h1 class="title sub font-lausanne-xl">{{ 'RECOVER_PASSWORD.TITLE2' | translate }}</h1>

      <p class="subtitle font-xm-semibold">
        {{ 'RECOVER_PASSWORD.YOUR_EMAIL' | translate }}
      </p>

      <form [formGroup]="forgotPasswordForm">
        <app-custom-input 
          [placeholder]="'Correo electrónico'" 
          [control]="utilsService.getFormControl(forgotPasswordForm,'email')"
          type="email"
          [hasError]="utilsService.getFormError(forgotPasswordForm,'email')"
          [errorMessage]="utilsService.getErrorMessage(forgotPasswordForm,'email')"
          [customIcon]="forgotPasswordForm.controls['email'].value !== '' ? 'assets/imgs/check-gray.svg' : 'assets/imgs/pencil-gray.svg'"
          [autocomplete]="'email'"
          [labelPlacement]="'stacked'"
        ></app-custom-input>
      </form>
    </div>

    <ion-button 
      expand="block" 
      class="btn-dark ion-margin-bottom" 
      [disabled]="forgotPasswordForm.invalid" 
      (click)="sendResetEmail()">
      {{ 'RECOVER_PASSWORD.BUTTON_SEND' | translate }}
    </ion-button>
  </div>
</ion-content>
