<div class="container">
  <div class="icon">
    <img src="../../../../../assets/imgs/nutrition/fork.svg" alt="">
  </div>
  <div class="info-container">
    <h2 class="title">{{ 'SPLIT_SLIDE.TITLE' | translate}}</h2>
    <p class="objective">1.000 / 2.000{{ 'SPLIT_SLIDE.OBJETIVE' | translate}}</p>
    <div class="points">
      <img src="../../../../../assets/imgs/nutrition/traffic-light-on.svg" alt="">
      <img src="../../../../../assets/imgs/nutrition/traffic-light-on.svg" alt="">
      <img src="../../../../../assets/imgs/nutrition/traffic-light-on.svg" alt="">
      <img src="../../../../../assets/imgs/nutrition/traffic-light-off.svg" alt="">
    </div>
    <p class="score">{{ puntosActuales }}{{ 'SPLIT_SLIDE.SCORE' | translate}}</p>
  </div>
</div>