.forgot-password-page {
  h1.title {
    text-align: center;
    margin-block: 1rem;
    margin-bottom: 0;
  }

  .subtitle {
    margin-bottom: 2rem;
  }
  .info {
     display: flex;
    direction: row;
    flex-direction: row;
    align-items: center;
    ion-icon {
  font-size: 4rem;
  color: #808080; // o cualquier color visible
}
    ion-text {
      color: var(--onepercent-gray-400, #808080);
      font-size: 0.75rem;
      font-weight: 400;
    }
  }
}
