.container {
  margin: 1rem; // 16px
  border-radius: 0.625rem; // 10px
  border: 0.0625rem solid #d8d8d8; // 1px
  padding: 1rem 1rem 0 1rem; // 16px 16px 0 16px

  .title {
    color: #131313;
    /* Inter_XM_Med */
    font-family: Inter;
    font-size: 1rem; // 16px
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
  }

  .score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 1rem 0;

    .points {
      color: var(--onepercent-gray-950, #131313);
      font-family: Inter;
      font-size: 1.25rem; // 20px
      font-style: normal;
      font-weight: 550;
      line-height: normal;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .current {
      color: #131313;
    }

    .total {
      color: #131313;
      font-size: 0.75rem; // 12px
      font-style: normal;
      font-weight: 550;
      line-height: normal;
    }

    .separator {
      color: #131313;
      font-family: "TWK Lausanne";
      font-size: 0.75rem; // 12px
      font-weight: 550;
      line-height: normal;
    }

    .txt-points {
      color: #131313;
      /* Inter_S_Reg */
      font-family: Inter;
      font-size: 0.75rem; // 12px
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  ion-progress-bar {
    margin-left: 1rem; // 16px
    /* Estilos personalizados */
    --background: #f2f2f2; /* Fondo de la barra (vacío) */
    --progress-background: #bdcf84; /* Color de la barra de progreso (relleno) */
    height: 0.75rem; /* 12px - Aquí ajustas el grosor */
    border-radius: 0.375rem; /* 6px - Opcional: bordes redondeados */
  }
}
