ion-tab-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
  --border: none;
  --background: var(--ion-color-light);
  width: 100%;
  height: 3.75rem; // 60px

  .tab-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%; // 100% / número de tabs
    height: 3px;
    background: var(--ion-color-primary, #4cd964);
    border-radius: 2px;
    transition: transform 0.1s;
    z-index: 10;
    pointer-events: none;
  }

  ion-label {
    margin-top: 0.25rem;
    color: #808080;
  }

  ion-tab-button {
    position: relative;
    box-sizing: border-box; // <-- Añade esto
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    padding-top: 2px; // Reserva espacio para el border-top

    .icon-default {
      display: inline;
    }

    .icon-active {
      display: none;
    }

    &.tab-selected {
      ion-label {
        color: black;
        font-weight: 600;
      }

      svg path {
        fill: black;
      }

      .icon-default {
        display: none;
      }

      .icon-active {
        display: inline;
      }

      ion-label {
        color: black;
      }
      svg path {
        fill: black;
      }
    }
  }
}
