<app-header [backButton]="'/public/email-form'" />
<ion-content class="safe-area ion-padding forgot-password-page">
  <div class="h-full flex-col justify-between">
    <div>
      <div class="logo-container flex-row align-center justify-center">
        <app-logo [dark]="true"></app-logo>
      </div>
      <h1 class="title font-lausanne-l">{{ 'PASSWORD-FORM.TITLE' | translate }}</h1>

      <form [formGroup]="registerForm" style="margin-top: 2rem !important">
        <app-custom-input
          [placeholder]="'Contraseña'"
          [control]="utilsService.getFormControl(registerForm, 'password')"
          [type]="'password'"
          [hasError]="utilsService.getFormError(registerForm, 'password')"
          [errorMessage]="
            utilsService.getErrorMessage(registerForm, 'password')
          "
          [icon]="isPasswordVisible ? 'eye' : 'eye-off'"
          (iconClick)="togglePasswordVisibility()"
          [autocomplete]="'new-password'"
          [labelPlacement]="'stacked'"
        ></app-custom-input>
      </form>
<div class="info flex items-center gap-2">
<ion-icon name="information-circle-outline" ></ion-icon> 
<ion-text class="text-xs text-gray-400">
    {{ 'PASSWORD-FORM.VALIDATOR' | translate }}
  </ion-text>
</div>
    </div>

    <ion-button
      expand="block"
      class="btn-dark ion-margin-bottom"
      [disabled]="registerForm.invalid"
      (click)="next()"
    >
      {{ 'PASSWORD-FORM.BUTTON_CONTINUE' | translate }}
    </ion-button>
  </div>
</ion-content>
