ion-card.recipe_breakfast {
  --background: var(--ion-color-primary);
}

ion-card.recipe_lunch,
ion-card.recipe_snacks {
  --background: var(--ion-color-secondary);
}

ion-card.recipe_dinner {
  --background: var(--ion-color-dark);
  --color: white;
}

ion-card-header {
  padding: 10px 10px 0px !important;
}
ion-card-title {
  font-size: 18px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
}

ion-card-subtitle {
  font-size: 8px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: black;
}

.recipe-image {
  width: 100%;
  height: 160px;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
.recipe-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.points {
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
}
.points img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
.time {
  display: flex;
  align-items: end;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 30px;
  text-wrap: nowrap;
  color: black;
  font-size: 12px;
  gap: 4px;
}
ion-card.recipe_dinner ion-card-title,
ion-card.recipe_dinner ion-card-subtitle,
ion-card.recipe_dinner .time {
  color: white !important;
}
