<ion-card [class]="'recipe_' + (recipe.section?.toLowerCase() || '')" [routerLink]="['/private/recipe-detail', recipe.id]">
  <ion-card-header>
    <div class="title-block">
      <ion-card-subtitle>{{ recipe.description }}</ion-card-subtitle>
      <ion-card-title>{{ recipe.title }}</ion-card-title>
    </div>

    <ion-row class="meta-row ion-align-items-center">
      <ion-col size="8" class="ion-text-start">
        <div class="points">
          <img
            *ngFor="let number of [].constructor(recipe.value); let i = index"
            src="../../../../../assets/imgs/nutrition/traffic-light-on.svg"
            style="width: 16px; height: 16px"
          />
          <img
            *ngFor="let number of [].constructor(points); let i = index"
            src="../../../../../assets/imgs/nutrition/traffic-light-off.svg"
            style="width: 16px; height: 16px"
          />
        </div>
      </ion-col>
      <ion-col size="4" class="ion-text-end">
        <div class="time">
          <img
            *ngIf="recipe.section !== 'Breakfast'"
            src="../../../../../assets/icons/initFormIcons/clock_green_solid.svg"
            style="width: 16px; height: 16px"
          />
          <img
            *ngIf="recipe.section === 'Breakfast'"
            src="../../../../../assets/icons/initFormIcons/clock_black_solid.svg"
            style="width: 16px; height: 16px"
          />
          <span> {{ recipe.time }}'</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <div class="recipe-image">
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
  </div>
</ion-card>
