<app-header backButton="/private/nutrition" title="{{ 'FOOD_REGISTRATION.TITLE' | translate }}" />
<ion-content class="safe-area ion-padding">
  <app-ingredient-autocomplete 
    [control]="foodInputControl" 
    [placeholder]="'FOOD_REGISTRATION.INPUT_PLACEHOLDER' | translate"
    (ingredientSelected)="onIngredientSelected($event)">
  </app-ingredient-autocomplete>

  <div class="meal-of-the-day">
    <p class="meal-title" [ngClass]="{ 'no-meal-selected': !selectedMealTitle, 'meal-selected': selectedMealTitle }">
      {{ selectedMealTitle || ('FOOD_REGISTRATION.SELECT_MEAL' | translate) }}
    </p>
    <button class="select-meal" (click)="openSelectMealModal()">
      <img src="assets/imgs/btn-select.svg" alt="">
    </button>
  </div>

  <div class="tab-recipes">
    <ion-segment [value]="selectedTab()" mode="ios" (ionChange)="changeTab($event)">
      <ion-segment-button value="registrando">
        <ion-label>{{ 'FOOD_REGISTRATION.RECORDING_RECIPES' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="recientes">
        <ion-label>{{ 'FOOD_REGISTRATION.RECENT_RECIPES' | translate }}</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favoritos">
        <ion-label>{{ 'FOOD_REGISTRATION.FAVORITE_RECIPES' | translate }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Total registrado section -->
  <div class="total-registered" *ngIf="ingredients.length > 0">
    <div class="total-label">Total registrado</div>
    <div class="total-info">
      <div class="nutritional-score">
        <img
          *ngFor="let number of [].constructor(getNutritionalScore()); let i = index"
          src="../../../../assets/imgs/nutrition/traffic-light-on.svg"
          style="width: 20px; height: 20px; margin-right: 2px"
          alt="on"
        />
        <img
          *ngFor="let number of [].constructor(4 - getNutritionalScore()); let i = index"
          src="../../../../assets/imgs/nutrition/traffic-light-off.svg"
          style="width: 20px; height: 20px; margin-right: 2px"
          alt="off"
        />
      </div>
      <div class="total-kcal">{{ getTotalKcal() }} kcal</div>
    </div>
  </div>

  <div class="tab-content">
    <div [hidden]="selectedTab() !== 'registrando'">
      <div class="content">
        <ng-container *ngIf="ingredients.length > 0; else noIngredients">
          <div class="ingredient-card" *ngFor="let ingredient of ingredients; let i = index"
            (click)="editIngredient(i)">
            <div class="ingredient-info">

              <div class="ingredient-index">
                {{i + 1}}
              </div>
              <div>
                <div class="ingredient-name">{{ ingredient.name }}</div>
                <div class="ingredient-details">
                  <div class="ingredient-amount">{{ ingredient.quantity }} {{ ingredient.unit }}</div>
                  <span class="ingredient-separator"> | </span>
                  <div class="ingredient-kcal">{{ ingredient.kcal }} kcal</div>
                </div>
              </div>
            </div>
            <button class="remove-btn" (click)="removeIngredient(i); $event.stopPropagation()">
              <img src="assets/imgs/cross-btn.svg" alt="">
            </button>
          </div>
        </ng-container>
        <ng-template #noIngredients>
          <p class="content-text">{{ 'FOOD_REGISTRATION.NO_INGREDIENTS' | translate }}</p>
          <p class="content-text">{{ 'FOOD_REGISTRATION.ADD_INGREDIENT' | translate }}</p>
        </ng-template>
      </div>
    </div>
    <div [hidden]="selectedTab() !== 'recientes'">
      <div class="content">
        <ng-container *ngIf="recentMeals.length > 0; else noRecentMeals">
          <div class="meal-card" 
               *ngFor="let meal of recentMeals; let i = index"
               [class.selected]="isRecentMealSelected(i)"
               (click)="selectRecentMeal(i)">
            <div class="meal-header">
              <div class="meal-info">
                <div class="meal-type">{{ meal.mealType }}</div>
                <div class="meal-date">{{ meal.date | date:'short' }}</div>
              </div>
              <div class="meal-total-kcal">
                {{ meal.totalKcal || 0 }} kcal
              </div>
            </div>
            <div class="meal-ingredients">
              <div class="ingredient-item" *ngFor="let mealIngredient of meal.ingredients">
                <div class="ingredient-name-small">
                  {{ mealIngredient.ingredient?.name || 'Ingrediente desconocido' }}
                </div>
                <div class="ingredient-details-small">
                  {{ mealIngredient.quantity }} {{ mealIngredient.unit }} | {{ mealIngredient.kcal }} kcal
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #noRecentMeals>
          <p class="content-text">{{ 'FOOD_REGISTRATION.NO_RECENT_MEALS' | translate }}</p>
        </ng-template>
      </div>
    </div>
    <div [hidden]="selectedTab() !== 'favoritos'">
      <div class="content">
        <p class="content-text">{{ 'FOOD_REGISTRATION.NO_FAVORITE_MEALS' | translate }}</p>
      </div>
    </div>

  </div>

  <div class="button-container">
    <ion-button expand="block" class="btn-dark" [disabled]="!canSave" (click)="saveMeal()">
      {{ 'FOOD_REGISTRATION.SAVE_BUTTON' | translate }}
    </ion-button>
  </div>
</ion-content>