<ion-card class="container">

  <p class="font-lsb-semibold">Tu pildora de hoy</p>

  <div class="foot-container">
    <div class="icon-text">
      <ion-icon style="width: 1.25rem; height: 1.25rem;" src="/assets/imgs/activity/pillIconSet.svg"> </ion-icon>
      <p class="font-s-regular">Explosive power</p>
    </div>
    <div class="icon-text">
      <p class="font-s-bold">15'</p>
      <ion-icon style="width: 1rem; height: 1rem;" src="/assets/icon/clockWhite.svg"></ion-icon>
    </div>
  </div>
</ion-card>

