<ion-card [class]="'recipe_' + recipe.section.toLowerCase()">
  <ion-card-header>
    <ion-card-title>{{ recipe.description }}</ion-card-title>
    <ion-card-subtitle>{{ recipe.title }}</ion-card-subtitle>
  </ion-card-header>

  <ion-row class="ion-align-items-end">
    <ion-col size="8" class="ion-align-items-end ion-text-start">
      <div class="points">
        <img
          *ngFor="let number of [].constructor(recipe.value); let i = index"
          src="../../../../../assets/imgs/nutrition/traffic-light-on.svg"
          style="width: 18px; height: 18px"
        />
        <img
          *ngFor="let number of [].constructor(points); let i = index"
          src="../../../../../assets/imgs/nutrition/traffic-light-off.svg"
          style="width: 18px; height: 18px"
        />
      </div>
    </ion-col>
    <ion-col size="4" class="ion-align-items-end ion-text-center">
      <div class="time">
        <img
          *ngIf="recipe.section !== 'Breakfast'"
          src="../../../../../assets/icons/initFormIcons/clock_green_solid.svg"
          style="width: 16px; height: 16px"
        />
        <img
          *ngIf="recipe.section === 'Breakfast'"
          src="../../../../../assets/icons/initFormIcons/clock_black_solid.svg"
          style="width: 16px; height: 16px"
        />
        <span> {{ recipe.time }}'</span>
      </div>
    </ion-col>
  </ion-row>

  <div class="recipe-image">
    <img [src]="recipe.image" alt="{{ recipe.title }}" />
  </div>
</ion-card>
