<ion-content fullscreen scrollEvents="false">
  <!-- Imagen destacada -->
  <div class="image-header">
    <img
      (click)="goBack()"
      class="backButton"
      src="../../../../../../assets/icon/backButtonWhite.svg"
      alt="nobutton"
    />
    <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" />
    <div 
    [style.background-color]="getBackgroundColor(recipe.category)"
    
    class="bottomBlack"></div>
  </div>

  <!-- Contenedor principal -->
  <div
    [style.background-color]="getBackgroundColor(recipe.category)"
    [style.color]="getTextColor(recipe.category)"
    class="recipe-detail-container"
  >

  <div class="maincontainer-category">
  <div class="category-container">
    <h3 class="category-label">{{ recipe.category }}</h3>
    <h2 class="recipe-title">{{ recipe.title }}</h2>
  </div>
  <div *ngIf="!recipe.featured" >
    <ion-icon style="color: #3e3e3e" (click)="setFavourite()" name="heart-outline"></ion-icon>
  </div>
  <div *ngIf="recipe.featured">
    <ion-icon style="color: #3e3e3e" (click)="setFavourite()" name="heart"></ion-icon>
  </div>

    </div>
  
  
  
  
  <!-- Detalles de calorías y tiempo -->
    <div class="meta-info">
      <div class="info-item">
        <ion-icon name="flame-outline"></ion-icon>
        <span>{{ recipe.kcal }} kcal</span>
      </div>
      <div class="info-item">
        <ion-icon name="time-outline"></ion-icon>
        <span>{{ recipe.time }}</span>
      </div>
      <div class="info-item">
        <span
          ><img
            [style.background-color]="getQuialityColor(recipe.category)"
            class="point-icon"
            src="../../../../../../assets/icons/logoPointWhite.svg"
            alt=""
        /></span>
           <span
          ><img
            [style.background-color]="getQuialityColor('none')"
            class="point-icon"
            src="../../../../../../assets/icons/logoPointWhite.svg"
            alt=""
        /></span>
        <span>{{ recipe.quality.text }}</span>
      </div>
    </div>

    <!-- Información nutricional -->
<ion-button
  expand="block"
  fill="outline"
  [style.color]="getTextColor(recipe.category)"
  [style.--border-color]="getTextColor(recipe.category)"
  class="nutritional-button"
>
  <ion-icon [style.color]="getQuialityColor(recipe.category)" name="information-circle-outline" slot="start"></ion-icon>
  Información nutricional
  <ion-icon [style.color]="getTextColor(recipe.category)" name="chevron-forward-outline" slot="end"></ion-icon>
</ion-button>

    <!-- Tabs de ingredientes / instrucciones -->
    <ion-segment [(ngModel)]="selectedTab" value="ingredients">
      <ion-segment-button value="ingredients">
        Ingredientes
      </ion-segment-button>
      <ion-segment-button value="instructions">
        Instrucciones
      </ion-segment-button>
    </ion-segment>

    <!-- Contenido dinámico -->
    <div *ngIf="selectedTab === 'ingredients'" class="ingredient-list">
      
      <div class="portion-control-container">

        <div class="portion-control">
          <img *ngIf="recipe.category === 'dinner'" src="../../../../../../assets/icons/plate.svg" alt="noIcon">
          <img *ngIf="recipe.category !== 'dinner'" src="../../../../../../assets/icons/plate_black.svg" alt="noIcon">

          <span>Ración:</span>
          <ion-button size="small" fill="clear" (click)="decreasePortion()"
          >-</ion-button
          >
          <span>{{ portion }}</span>
          <ion-button size="small" fill="clear" (click)="increasePortion()"
          >+</ion-button
          >
        </div>
        
          <span>{{ recipe.ingredients.length }} ingredientes</span>

      </div>
      
      


<app-recipes-ingredients-card *ngIf="recipe.ingredients?.length" [ingredients]="recipe.ingredients" [portion]="portion"></app-recipes-ingredients-card>

    </div>

    <div *ngIf="selectedTab === 'instructions'" class="instructions-list">
           <div class="portion-control-container">

        <div class="portion-control">
          <img *ngIf="recipe.category === 'dinner'" src="../../../../../../assets/icons/plate.svg" alt="noIcon">
          <img *ngIf="recipe.category !== 'dinner'" src="../../../../../../assets/icons/plate_black.svg" alt="noIcon">
          <span>Ración:</span>
          <ion-button size="small" fill="clear" (click)="decreasePortion()"
          >-</ion-button
          >
          <span>{{ portion }}</span>
          <ion-button size="small" fill="clear" (click)="increasePortion()"
          >+</ion-button
          >
        </div>
        
          <span>{{ recipe.instructions?.length }} pasos</span>

      </div>
      <app-recipes-steps-card *ngIf="recipe.instructions?.length" [steps]="recipe.instructions" (openModalStepRecipe)="openModalStepRecipe($event.steps, $event.stepNumber)"></app-recipes-steps-card>
    </div>

    <!-- Botón comenzar -->
<ion-button *ngIf="!buttonType(recipe.category)" class="ion-margin-bottom start-button" mode="ios">Comenzar</ion-button> 
<ion-button *ngIf="buttonType(recipe.category)" class="ion-margin-bottom btn-dark" mode="ios">Comenzar</ion-button> 
 </div>

</ion-content>
