<body style="margin:0;padding:0;text-align:center; background-color: #F8F9FB;">
  <br />
  <br />
  <table role="presentation"
    style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#F8F9FB;text-align:center;">
    <tr>
      <td align="center" style="padding:0;">
        <table role="presentation"
          style="width:602px;border-collapse:collapse;border:0;border-spacing:0;text-align:center; background-color: white;">
          <tr>
            <td align="center" style="padding:40px 0 30px 0;">
              <img src="{{serverAddress}}/public/images/logo.png" alt="" width="564" style="height:auto;display:block;" />
            </td>
          </tr>
          <tr>
            <td style="padding:36px 60px 42px 60px;">
              <table role="presentation"
                style="width:100%;border-collapse:collapse;border:0;border-spacing:0;text-align:center;">
                <tr style="text-align:center;">
                  <td style="padding:0 0 36px 0;color:#153643;">
                    <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif; color: #3e3e3e;">Cada hábito importa. Haz que sumen.</h1>
                    <p
                      style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif; color: #575757">
                        Bienvenido a onepercent, la app en la que tus hábitos suman puntos y te dicen cómo de sano estás. Para confirmar tu registro es necesario que valides tu cuenta haciendo click en el siguiente botón:</p>
                    {{#if validationUrl}}
                    <p style="margin:40px auto;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
                      <a href="{{validationUrl}}" style="background: #BCDF84 !important;
                        border-radius: 10px !important;
                        border: none !important;
                        color: #131313 !important;
                        font-weight: 600;
                        min-width: 200px;
                        padding: 20px;
                        width: 230px;
                        text-align: center; text-decoration: none;">Valida tu cuenta</a>
                    </p>
                    {{/if}}
                    <p style="margin:10px 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif; color: #575757">
                        Si no puedes ver el botón, haz click en el siguiente enlace:
                        <div>
                            <a href="{{validationUrl}}" style="font-weight: 700; text-decoration: none; color: darkgreen">{{validationUrl}}</a>
                        </div>
                      </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>

        <div style="margin-top: 20px">
          <a style="color: #4A3F50; text-decoration: none;" href="#">onepercent</a>
        </div>
        <br />
        <br />

      </td>
    </tr>
  </table>
</body>