<app-header [backButton]="'/public/login-with-email'" />
<ion-content class="safe-area ion-padding reset-password-page">
  <div class="h-full flex-col justify-between">
    <div>
      <h1 class="title">{{ "RESET_PASSWORD.TITLE1" | translate }}</h1>
      <h1 class="title sub">{{ "RESET_PASSWORD.TITLE2" | translate }}</h1>

      <p class="subtitle font-xm-semibold">
        {{ "RESET_PASSWORD.SUBTITLE" | translate }}
      </p>

      <form [formGroup]="resetPasswordForm">
        <app-custom-input
          [placeholder]="'CHANGE_PASSWORD.PLACEHOLDER_NEW_PASSWORD' | translate"
          [control]="utilsService.getFormControl(resetPasswordForm, 'password')"
          type="password"
          [hasError]="utilsService.getFormError(resetPasswordForm, 'password')"
          [errorMessage]="
            utilsService.getErrorMessage(resetPasswordForm, 'password')
          "
          (iconClick)="showPassword = !showPassword"
          [labelPlacement]="'fixed'"
          class="mb-4"
          [autocomplete]="'new-password'"

        ></app-custom-input>

        <app-custom-input
          [placeholder]="
            'CHANGE_PASSWORD.PLACEHOLDER_REPEAT_PASSWORD' | translate
          "
          [control]="
            utilsService.getFormControl(resetPasswordForm, 'confirmPassword')
          "
          type="password"
          [hasError]="
            utilsService.getFormError(resetPasswordForm, 'confirmPassword')
          "
          [errorMessage]="
            utilsService.getErrorMessage(resetPasswordForm, 'confirmPassword')
          "
          (iconClick)="showConfirmPassword = !showConfirmPassword"
          [labelPlacement]="'fixed'"
          [autocomplete]="'new-password'"

        ></app-custom-input>
      </form>
      <div class="info flex items-center gap-2">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-text class="text-xs text-gray-400">
          {{ "RESET_PASSWORD.PASSWORD_REQUIREMENTS" | translate }}
        </ion-text>
      </div>
    </div>

    <ion-button
      expand="block"
      class="btn-dark ion-margin-bottom"
      [disabled]="resetPasswordForm.invalid"
      (click)="resetPassword()"
    >
      {{ "CHANGE_PASSWORD.CHANGE_PASSWORD_BUTTON" | translate }}
    </ion-button>
  </div>
</ion-content>
