.ingredient-card {
  background: white;
  border-radius: 0.5rem;
  display: flex;
  align-items: center; /* vertically center content */
  padding: .75rem .75rem; /* slightly more vertical padding */
  width: 100%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom: .5rem;

  .ingredient-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* center title and qty vertically */
    width: 100%;

    h3 {
      font-family: Inter;
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0px;
      vertical-align: middle;
      margin: 0; /* remove top margin to center text */
      color: var(--onepercent-gray-950, #131313);
    }

    p {
      color: var(--onepercent-gray-400, #808080);
      text-align: right;
      font-size: .75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
      margin: 0; /* avoid extra bottom spacing */
    }
  }
}