<body style="margin:0;padding:0;text-align:center; background-color: #F8F9FB;">
<br />
<br />
<table role="presentation"
       style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#F8F9FB;text-align:center;">
    <tr>
        <td align="center" style="padding:0;">
            <table role="presentation"
                   style="width:602px;border-collapse:collapse;border:0;border-spacing:0;text-align:center; background-color: white;">
                <tr>
                    <td align="center" style="padding:40px 0 30px 0;">
                        <img src="{{serverAddress}}/public/images/logo.png" alt="" width="564" style="height:auto;display:block;" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:36px 60px 42px 60px;">
                        <table role="presentation"
                               style="width:100%;border-collapse:collapse;border:0;border-spacing:0;text-align:center;">
                            <tr style="text-align:center;">
                                <td style="padding:0 0 36px 0;color:#153643;">
                                    <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif; color: #3e3e3e;">Cambio de contraseña</h1>
                                    <p
                                            style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif; color: #575757">
                                        Has solicitado un cambio de contraseña para tu cuenta de onepercent. Haz clic en el botón para comenzar con el proceso de cambio de contraseña.</p>
                                    {{#if validationUrl}}
                                        <p style="margin:40px auto;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">
                                            <a href="{{validationUrl}}" style="background: #a4d65e !important;
                                                border-radius: 10px !important;
                                                border: none !important;
                                                color: #333 !important; /* Texto oscuro */
                                                font-weight: 600;
                                                min-width: 200px;
                                                padding: 20px;
                                                width: 230px;
                                                text-align: center;
                                                text-decoration: none;">Cambiar contraseña</a>
                                        </p>
                                    {{/if}}

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>

            <div style="margin-top: 20px">
                <a style="color: #4A3F50; text-decoration: none;" href="#">onepercent</a>
            </div>
            <br />
            <br />

        </td>
    </tr>
</table>
</body>
