<app-header [backButton]="'/public/welcome'" />
<ion-content class="safe-area ion-padding login-page">
  <div class="h-full flex-col justify-between">

    <!-- Logo -->
    <div>
      <div class="logo-container flex-row align-center justify-center align-items-center">
        <app-logo [dark]="true"></app-logo>
        <img src="assets/imgs/onepercent-text.svg" alt="onepercent logo">
      </div>

      <!-- Texto de bienvenida -->
      <div class="welcome-text">
        <p class="font-lausanne-l-550">{{ 'LOGIN.WELCOME_BACK' | translate}}</p>
        <p class="font-lausanne-l-550">{{ 'LOGIN.SIGN_IN_TO_ACCOUNT' | translate}}</p>
      </div>

      <!-- Botones de redes sociales -->
      <div class="buttons">
        <ion-button expand="block" fill="outline" class="btn-outline-dark google"
          (click)="signInWith(providers.google)">
          <img src="assets/icon/google-logo.png" slot="start" class="ion-margin-end" />
          <p class="continue-with">{{ 'LOGIN.CONTINUE_WITH_GOOGLE' | translate}}</p>
        </ion-button>

        <ion-button expand="block" fill="outline" class="btn-outline-dark apple" (click)="signInWith(providers.apple)">
          <ion-icon name="logo-apple" slot="start" class="ion-margin-end"></ion-icon>
          <p class="continue-with">{{ 'LOGIN.CONTINUE_WITH_APPLE' | translate}}</p>
        </ion-button>

        <ion-button expand="block" fill="outline" class="btn-outline-dark facebook"
          (click)="signInWith(providers.facebook)">
          <img src="assets/icon/meta-logo.png" slot="start" class="ion-margin-end" />
          <p class="continue-with">{{ 'LOGIN.CONTINUE_WITH_FACEBOOK' | translate}}</p>
        </ion-button>
      </div>

      <!-- Separador -->
      <div class="divider">
        <div class="line"></div>
        <div class="circle"></div>
        <div class="line"></div>
      </div>

      <!-- Botón de inicio de sesión con correo -->
      <ion-button expand="block" class="btn-dark" (click)="goToLoginWithEmail()">
        {{ 'LOGIN.SIGN_IN_WITH_EMAIL' | translate}}
      </ion-button>
    </div>

    <!-- Enlaces a términos y privacidad -->
    <div class="terms-links">
      <p class="text-center">
        {{ 'LOGIN.CONTINUE_ACCEPTS' | translate}}
        <a (click)="goToTerms()">{{ 'LOGIN.TERMS_LINK' | translate}}</a>
        {{ 'LOGIN.AND' | translate}}
        <a (click)="goToPrivacy()">{{ 'LOGIN.PRIVACY_LINK' | translate}}</a>
      </p>
    </div>
  </div>
</ion-content>