
.plans-card-container {
  display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;
    margin-bottom: 16px;
}
.plan-card-container {
  max-width: 100px;
  min-width: 90px;
}

.discount-container {
    background: var(--onepercent-gray-100,#d8d8d8);
  border:  2px solid var(--onepercent-gray-200, #d8d8d8);

    padding: 4px 2px 7px 2px;
  border-start-end-radius: 8px;
  border-top-left-radius: 8px;
  text-align: left;

  &.selected {
  background-color: #75a042;
    border: 2px solid #75a042;
  }


  h3 {
    color: white;
    margin: 0;
  }
}

.plan-card-content {
  position: relative;
  top: -6px;
  display: flex;
  height: 132px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 2px solid var(--onepercent-gray-200, #d8d8d8);
  background: var(--onepercent-gray-100, #f2f2f2);
  &.selected {
    border-radius: 8px;
    border: 2px solid var(--onepercent-Soft-Green-700, #75a042);
    background: var(--onepercent-gray-100, #f2f2f2);
  }
  p {
    color: #808080;
    margin: 0;
    text-align: center;
  }
}

.plan-card-header {
    max-width: 4rem;
    h1{
        text-align: center;
    }
}
.plan-card-body {
  display: flex;
  align-items: center;
  h2{
    margin: 0;
  }
}

.plan-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

