.email-sent-page {

  // Estilos específicos
  h1.title {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 5rem;
  }
}


.bottomBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}