ion-content::part(background) {
  background-color: black;
}

.welcome-name-page {
  .image-container {
    .back-button {
      position: absolute;
      left: 1rem;
      top: 1rem;

      color: white;
      z-index: 10;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(5px);
      border-radius: 10px;
    }
  }

  .content-container {
    .title {
      font-size: 2rem;
      font-weight: 600;
      color: var(--ion-color-dark);
      margin: 0;
    }
    ion-button {
      margin: 0 1rem 5rem 1rem;
      width: 92%;
      display: flex;
      justify-content: flex-start;
      font-weight: 600;
    }
  }
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 97dvh;

  width: 100dvw;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-overlay {
  margin-top: 20%;
  padding: 1rem;
  color: #ffffff;

  font-family: "TWK Lausanne";
  font-size: 24px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}

.text-overlay .highlight {
  color: #bcdf84;
}

swiper-container::part(bullet) {
  background-color: #ffffff !important; 
  opacity: 1 !important;
}

swiper-container::part(bullet-active) {
  background-color: var(
    --ion-color-primary
  ) !important; 
}

swiper-container {
  width: 100%;
  height: 100%;

  --swiper-pagination-bottom: 9rem; 
}

ion-content,
.welcome-name-page,
.content-container,
swiper-container,
swiper-slide,
.slide {
  height: 100%;
  min-height: 100dvh;
  box-sizing: border-box;
}
