<ion-content class="safe-area ion-padding">
  <div class="logout-flex-container">
    <div class="center-content">
      <p class="textUp">
        Tu <span class="highlight">sesión</span> se ha cerrado
      </p>
      <p class="textDown">Hasta pronto.</p>
      <img class="logo bye-image" src="../../../../../assets/imgs/icon-dark.png" alt="Imagen de despedida"/>
    </div>

      <ion-button 
        class="btn-primary btn-dark" 
        (click)="confirmLogout()" 
        expand="block">
        Salir
      </ion-button>

  </div>
</ion-content>
