:host {
  display: block;
}

.invisible-spacer {
  width: 44px; /* Aproximadamente el ancho del botón de regreso */
  visibility: hidden;
}

ion-title {
  padding: 0;
  color: black;
}

ion-back-button {
  --color: #000000;
  --background: transparent;
  --box-shadow: none;
}
